<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>餐廳</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <!-- 引用靜態資源時要加 th:href="@{/}" 斜線默認static資料夾，後面補上路徑   -->
    <link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me.css}">
</head>
<body>


<!--導航-->
<!--inverted segment是黑色區塊-->
<nav th:replace="_fragments :: menu(0)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <a href="#" th:href="@{/}" class="m-item item m-mobile-hide" th:classappend="${n==1} ? 'active'"><i class="mini home icon"></i>首頁</a>
            <a href="#" th:href="@{/res}" class="m-item item m-mobile-hide" th:classappend="${n==2} ? 'active'"><i class="mini utensils icon"></i>餐廳</a>
            <div class="right m-item m-mobile-hide menu" th:if="${session.user} != null">
                <div class="ui dropdown item">
                    <div class="text">
                        <img class="ui avatar image" src="https://picsum.photos/100/100?image=1005"
                             th:arc="${session.user}!= null ? @{${session.user.avatar}}">
                        <span th:text="${session.user}!= null ? ${session.user.nickname}">Jack</span>
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <!--                        <a href="#" th:href="@{/admin/blogs}" class="item">管理</a>-->
                        <!--                        <a href="#" th:href="@{/admin/logout}" class="item">登出</a>-->
                    </div>
                </div>
            </div>

            <th:block th:if="${session.user} == null">
                <a href="#" th:href="@{/admin/}" class="right m-item item m-mobile-hide"><i
                        class="mini home icon"></i>登入</a>
            </th:block>
        </div>
    </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>

<div class="ui container">
    <!--form data-->
    <form class="ui large form" id="resForm" action="#" th:action="@{/res}" th:object="${re}" method="post">

        <input type="hidden" th:value="*{id}" name="id">
        <div class="ui segment">
            <label for="nameId">名稱</label>
            <input type="text" name="name" id="nameId" th:field="*{name}">
            <label for="descriptionId">說明</label>
            <input type="text" name="description" id="descriptionId" th:field="*{description}">
            <input type="hidden" id="menuStringsId" name="menuStrings">
        </div>


    </form>

    <table class="ui celled table" id="table">
        <thead>
        <tr>
            <th>分類</th>
            <th>名稱</th>
            <th>價格</th>
            <th></th>
        </tr>
        </thead>
        <tbody id="tbody">
        <tr th:each="menu : ${menus}">
            <td>
                <div class="ui labeled action input">
                    <select name="type" id="typeId" >
                        <option value="" disabled selected hidden>分類</option>
                        <option value="飯" th:selected="${menu.type == '飯'}">飯</option>
                        <option value="麵" th:selected="${menu.type == '麵'}">麵</option>
                        <option value="飲料" th:selected="${menu.type == '飲料'}">飲料</option>
                        <option value="其他" th:selected="${menu.type == '其他'}">其他</option>
                    </select>
                </div>
            </td>
            <td>
                <input type="hidden" name ="id" th:value="${menu.id}">
                <input type="text" name="name" id="menuname" th:value="${menu.name}">
            </td>
            <td><input type="text" name="price" th:value="${menu.price}"></td>
            <td><input type="button" onclick="dele(this)" id="del" value="刪除"/></td>
        </tr>
        </tbody>
    </table>

    <!--submit 執行<form>裡的post? -->
    <button class="ui button" id="submitButton">提交</button>

    <button id="add" class="ui button">新增</button>
    <br>
    <br>

</div>


<script src=" https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/jquery.scrollto@2.1.2/jquery.scrollTo.min.js"></script>
<script src="../static/lib/prism/prism.js" th:src="@{/lib/prism/prism.js}"></script>
<script src="../static/lib/tocbot/tocbot.min.js" th:src="@{/lib/tocbot/tocbot.min.js}"></script>
<script>

    function menu() {
        var m = "        <tr>\n" +
            "            <td>\n" +
            "                <div class=\"ui labeled action input\">\n" +
            "                    <select name=\"type\" id=\"typeId\">\n" +
            "                        <option value=\"\" disabled selected hidden>分類</option>\n" +
            "                        <option value=\"1\">飯</option>\n" +
            "                        <option value=\"2\">麵</option>\n" +
            "                        <option value=\"3\">飲料</option>\n" +
            "                        <option value=\"4\">其他</option>\n" +
            "                    </select>\n" +
            "                </div>\n" +
            "            </td>\n" +
            "            <td>\n" +
            "               <input type=\"hidden\" name =\"id\" value=\"0\">\n"+
            "               <input type=\"text\">\n" +
            "            </td>\n" +
            "            <td><input type=\"text\"></td>\n" +
            "            <td><input type=\"button\" onclick=\"dele(this)\" id=\"del\" value=\"刪除\"/></td>\n" +
            "        </tr>";

        html = $.parseHTML(m);
        return html;
    }

    window.onload = function () {

        let oadd = document.getElementById("add");
        let odel = document.getElementById("del");
        let obox = document.getElementById("box");
        let otable = document.getElementById("table");
        let t = document.getElementById("tbody");
        oadd.onclick = function () {
            var tr = document.createElement("tr");
            var td1 = document.createElement("td");
            var td2 = document.createElement("td");
            var trmenu = menu();
            tr.appendChild(td1);
            tr.appendChild(td2);
            t.appendChild(trmenu[1]);
        }
        // odel.onclick = function () {
        //     var divs = obox.getElementsByTagName("div");
        //     if (divs.length > 0) {
        //         obox.removeChild(divs[0]);
        //     }
        // }
    }

    function dele(obj) {
        let removeTarget = obj.parentNode.parentNode;
        let tbody = document.getElementById("tbody");
        tbody.removeChild(removeTarget);
    }

    function fixData() {
        let tbody = $("#tbody");
        // const n = tbody.getElementsByTagName("tr");
        // tbody.each()
        var tmp = "";
        // $("#tbody tr").each(function () {
        //     $(this).find('td').each(function () {
        //         tmp = tmp + $(this).value;
        //     });
        // });

        var arr = [];
        var s = "";
        $("#tbody tr").each(function () {
            let tr = $(this);
            var selecteItem = tr.find('td').eq(0).find('select')[0];
            var index = selecteItem.selectedIndex;  //拿到選中項的索引
            var selectedValue = selecteItem.options[index].value;//拿到選中項options的value
            var selectedText = selecteItem.options[index].text;//拿到選中項options的text
            console.log(selectedText);
            var td1 = tr.find('td').eq(1).find('input')[0].value;
            var td2 = tr.find('td').eq(1).find('input')[1].value;
            var td3 = tr.find('td').eq(2).find('input').val();
            console.log(td1);
            console.log(td2);
            // var obj = {'type': selectedText, 'name': td1, 'price': td2};
            // arr.push(obj);
            s = s + td1 + "," + selectedText + "," + td2 + "," + td3 + "/"
        });

        // var selecteItem = document.getElementById("typeId");//拿到select物件
        // var index = selecteItem.selectedIndex ;  //拿到選中項的索引
        // var selectedValue = selecteItem.options[index].value;//拿到選中項options的value
        // var selectedText = selecteItem.options[index].text;//拿到選中項options的text
        //
        //
        console.log(arr);
        $("#menuStringsId").val(s);
    }

    $("#submitButton").click(function () {
        console.log("wwww");
        fixData();
        $("#resForm").submit();
    });

</script>


</body>
</html>